#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 100;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  font-size: 200%;
  line-height: 80px;
}

#nav-bar .compose {
  float: right;
  height: 60px;
  width: 120px;
  margin-top: 10px;
  background: white;
  border: solid 1px black;
  border-radius: 8px;
  font-size: 120%;
  color: #00a087;
  opacity: 0.90;
}

#nav-bar .compose:hover {
  opacity: 1;
  color: black;
}

@media (max-width: 400px){
  #nav-bar .header {
    position: absolute;
  }
  #nav-bar .compose {
    position: absolute;
    margin-left: 7em;
  }
}

@media (max-device-width: 400px){
  #nav-bar .header {
    font-size: 400%;
  }
}