.new-tweet {
  background: #eee;
  margin: 0em 2em 2em 2em;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 8px;
}

.new-tweet h2 {
  margin-top: 0px;
  border-bottom: solid 1px;
}

.new-tweet textarea {
  width: 100%;
}

.new-tweet .error {
  background: #F4A6A6;
  color: #8B0000;
  margin-top: 0;
  padding: 5px;
  border: solid 1px #8B0000;
  display: none;
}

.new-tweet .counter {
  font-style: italic;
  font-size: 90%;
  float: right;
  margin-top: 5px;
}

.new-tweet .counter.negative {
  color: red;
}