.tweet {
  margin: 2em 2em 0em 2em;
  border: solid 1px #ccc;
  border-radius: 8px;
}

article.tweet header {
  background: #eee;
  height: 60px;
  padding: 10px;
}

article.tweet .avatar {
  float: left;
  height: 40px;
  width: 40px;
  border: solid 1px #ccc;
  border-radius: 8px;
}

article.tweet h3 {
  float: left;
  margin-left: 10px;
  margin-top: 0;
}

article.tweet .handle {
  float: right;
  color: #777;
  font-size: 90%;
  margin-top: 3px;
}

article.tweet p {
  padding: 1em;
  background: white;
}

article.tweet footer {
  padding: 10px;
  border-top: solid 1px #eee;
  font-size: 80%;
}